/*===================================================================

  Developed By: Samuel Ayela
  Company: Rocom Solutions
  Website: http://www.rocomsolutions.com/
  
\------------------------------------------------------------------*/

body{
  background: #336192;
  margin: 0;
  padding: 0;
  font-size:100%;
  font-family: Arial,sans-serif;
  color: #333;  
  }
  
input {
  color: #494949;
}

textarea, select {
  font: 12px/160%;
  color: #494949;
}

h1,h2,h3,h4,h5,h6 {
  color: #333;
  background: none;
  font-weight: normal;
  margin: 0;
  padding:0;
  width: auto;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 140%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

quote, code, fieldset {
  margin: .5em 0;
}

pre, code{
  font-size: 1.1em;
  }

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

a:link, a:visited {
  color: #0645ad;
  text-decoration: none;
  background: none;
}

a:hover, a:active{
  text-decoration: underline;
  color: #333;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul, ol {
  margin: 0.75em 3em;
  padding: 0;
}

li {
  margin: 0;
  padding: 2px;
}

/* Table Styles */
th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

#page{
  font-size: 14px;
  }

/*
 * Main menu
 */
 
/* Navigation*/
/* Author: Craig Erskine Modified by: Samuel Ayela (http://www.drupalghana.com/ */ 

#menu-wrap{  
  background:#000 url(../images/bg.gif) repeat-x;
  width:100%;
  height:40px;
  margin:0 auto;
  padding:0px;
  clear:both;
  border-top:1px solid #9DC5D8;
}

#menu{
  width:980px;
  margin: 0 auto;
  padding: 0;
  }

#menu ul.menu{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 50;  
}

#menu  ul.menu ul {width: 250px;
  margin: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0; 
}

#menu ul.menu ul ul,
#menu ul.menu ul ul ul { top: 0; left: 100%; }
#menu ul.menu li {
  float:left;
  display: inline;
  position: relative;
  margin:0;
  padding:0;
  border-right: 1px solid #333;
  border-left: 1px solid #000;  
}

#menu ul.menu li.first {
  border-left:none;
}

#menu ul.menu li.last {
  border-right:none;
}

#menu ul.menu ul li {
  width:100%;
  display: block;
  border:none;
  color: #fff;
  background: #39393B;
  border-bottom: 1px solid #777;  
}

/* Root menu */ 
#menu ul.menu a {
  float: left;
  display: block;
  font-size: 12px;
  font-weight:normal;  
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: 1px;
  padding:13px 25px;
  color: #fff;
  text-decoration: none;
  height: 1%;
}
/* Root menu Hover Persistence */
#menu ul.menu a:hover,
#menu ul.menu li:hover a,
#menu ul.menu li.iehover a {
  color: #fff;
}
/* 2nd menu */
#menu ul.menu li:hover li a,
#menu ul.menu li.iehover li a { float: none; display: block; }
/* 2nd menu Hover Persistence */
#menu ul.menu li:hover li a:hover,
#menu ul.menu li:hover li:hover a,
#menu ul.menu li.iehover li a:hover,
#menu ul.menu li.iehover li.iehover a { background: #fff;color: #000;}
/* 3rd menu */ 
#menu ul.menu li:hover li:hover li a,
#menu ul.menu li.iehover li.iehover li a { background: #333;color:#fff;}
/* 3rd menu Hover Persistence */
#menu ul.menu li:hover li:hover li a:hover,
#menu ul.menu li:hover li:hover li:hover a,
#menu ul.menu li.iehover li.iehover li a:hover,
#menu ul.menu li.iehover li.iehover li.iehover a { background: #fff;color: #000; }
/* 4th menu */ 
#menu ul.menu li:hover li:hover li:hover li a,
#menu ul.menu li.iehover li.iehover li.iehover li a { background: #333;color:#fff; }
/* 4th menu Hover */ 
#menu ul.menu li:hover li:hover li:hover li a:hover,
#menu ul.menu li.iehover li.iehover li.iehover li a:hover { background: #fff;color: #000; }
/* Hover Function - Do Not Move */
#menu ul.menu li:hover ul ul,
#menu ul.menu li:hover ul ul ul,
#menu ul.menu li.iehover ul ul,
#menu ul.menu li.iehover ul ul ul { display: none; } 

#menu ul.menu li:hover ul,
#menu ul.menu ul li:hover ul,
#menu ul.menu ul ul li:hover ul,
#menu ul.menu li.iehover ul,
#menu ul.menu ul li.iehover ul,
#menu ul.menu ul ul li.iehover ul { display: block; }

#menu .menu a.active {
 color:#fff;
 outline: 0;
}

ul.menu {
  margin:0;
  list-style: none;
  border: none;
  text-align:left;
}

ul.menu li {
  list-style: none;
  margin: 0 0 0 0.5em;
}

li.expanded {
  list-style-type: none;
  list-style-image: none;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}

li.collapsed {
  list-style-type: none;
  list-style-image: none;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}

li.leaf {
  list-style-type: none;
  list-style-image:none;
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}

#sidebar-first ul,
#sidebar-second ul{
  margin:0;
  padding:0;
}

#sidebar-first li,
#sidebar-second li{
  margin:0;
  list-style-type:none;
  font-size:13px;
  padding-bottom:5px;
  border-bottom:1px dashed #ccc;
}

#sidebar-second li.last{
  border:none;
}

#sidebar-first li a:link, #sidebar-first li a:visited,
#sidebar-second li a:link,#sidebar-second li a:visited{color:#0645ad;}
#sidebar-first li a:hover,
#sidebar-second li a:hover{color:#333; text-decoration:underline;}

#block-user-login li{
  border-bottom:none;
  padding:0;
}

#block-user-login .form-item{
  margin-bottom:5px;
}

#block-search-form .content{
  border:none;
}

/* Node title */

h1.title,
h3.title {
  margin: 0;
  color: #333;
  }

  
.front h1.title, .not-front h1.title {
  margin:0;
  padding:0;
  color:#333;
  font-size:32px;
  font-weight:normal;
  line-height:1.1em;
}  

h1.site-name{
  margin:0;
  padding:0;
  color:#fff;
  font-size:35px;
  font-weight:bold;
  line-height:1.3em;
  text-shadow:-2px 2px 4px rgba(0, 0, 0, 0.4);  
}

#site-details a{
  color:#fff;
  text-decoration:none;
}

#site-details a:hover{
  text-decoration:underline;
}

.slogan {
  padding: 0;
  margin-left:2px;
  font-size:20px;
  font-weight:normal;
  color:#fff;
  clear:both;
}

.node h2 a{
  padding-bottom: 0.1em;  
  margin-bottom: 0.1em;
  line-height: 1.1em;
  font-size: 28px;
  color:#00598E;
}

.node h2 a:hover{
  text-decoration:none;
  color: #333;
}

.sidebar h2{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
  border:1px solid #A3CBDC;
  border-bottom:none;  
  border-right:6px solid #A3CBDC;  
  color: #333;
  padding: 8px 0 8px 8px;
  margin:0;
  font-size: 13px;
  font-weight:bold;  
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: 1px;
  height: 1%;
}

/* Form item */

.form-item{
  margin-bottom:5px;
  }

.sidebar .form-item{
  margin: 0;
  }  
  
.form-checkboxes,.form-radios{
  margin: .5em 0;
  }  
  
.form-item input.error,.form-item textarea.error,.form-item select.error{
  border: 2px solid #c00;
  }

.form-item label {
  padding:0 0 5px 0;
  display: block;
  font-size:13px;
  font-weight: bold;
  }
  
.form-item input {
  display: inline;
  font-weight: normal;
  }

.form-item label.option{
  display: inline;
  font-weight: normal;
  }

.form-required {
  color: #c00;
  }

.form-item .description {
  font-size: 1em;
  padding-top:4px;
  }

.container-inline div, .container-inline label {
  display: inline;
  }

.tips {
  list-style-type: square;
  margin-left: 10px;
  padding: 0;
  font-size: 11px;
  font-style:italic;
  }

/* Poll */
#block-poll-recent .content{
  padding:10px;
}

.poll .title{
  font-size:16px;
  color:#0645ad;
  font-weight:bold;
  padding-bottom:5px;
}

.poll .bar {
  background:#fff url(../images/bg-bar-white.png) repeat-x 0 0;
  border:solid #f0f0f0;
  border-width:0 1px 1px;
}

.poll .bar .foreground {
  background:#71a7cc url(../images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
  font-size:13px;
}

.poll .vote-form .choices {
  text-align:left;
  margin:0 0;
  display:display;
}

.poll .total {
  text-align:left;
}

.poll .vote-form {
  text-align:left;
}

#block-poll-recent ul.links{
  margin:0;
  padding-top:10px;
}

/* Book pages */

.book-navigation .menu {
  border-top: 1px solid #888;
  padding: .5em 0 0 3em;
}

.book-navigation .menu li{
  list-style:square;
}

.book-navigation .page-links {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5em;
  margin-bottom:20px;
}

/*
 * Tabs
 */
 
div.tabs {
  margin: 0 0 5px 0;
}

ul.primary {
  border-collapse: collapse;
  padding: 5px 0 5px 1em;
  white-space: nowrap;
  list-style: none;
  margin: 10px 0;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #A3CBDC;
}

ul.primary li {
  display: inline;
}

ul.primary li a {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
  border: 1px solid #A3CBDC; 
  border-bottom: none;  
  color:#0645ad;
  font-weight:bold;
  font-size:12px;
  height: auto;
  margin-right: 0.5em;
  padding: .4em .8em;
  text-decoration: none;
}

ul.primary li.active a {
  background-color: #fff;
  color:#333;
  border: 1px solid #A3CBDC;
  border-bottom: none; 
}

ul.primary li a:hover {
  background-color: #fff;
  border-color: #ddd;
  color:#333;
}

ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}

ul.secondary li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid #ccc; 
}

ul.secondary a {
  padding: 0;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/* Site messages */

div.messages {
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 15px 0;
  padding: 10px 10px 10px 50px;
}  

div.status {
  background-image: url(../images/message-24-ok.png);
  border-color: #be7;
}
div.status,
.ok {
  color: #234600;
}
div.status,
table tr.ok {
  background-color: #f8fff0;
}

div.warning {
  background-image: url(../images/message-24-warning.png);
  border-color: #ed5;
}
div.warning,
.warning {
  color: #840;
}
div.warning,
table tr.warning {
  background-color: #fffce5;
}

div.error {
  background-image: url(../images/message-24-error.png);
  border-color: #ed541d;
}
div.error,
.error {
  color: #8c2e0b;
}
div.error,
table tr.error {
  background-color: #fef5f1;
}
div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em;
  padding: 0;
}
div.messages ul li {
  list-style-image: none;
  list-style-type: square;  
}

div.tabs {
  margin: 0 0 5px 0;
}

.help {
  clear:both;
  margin: 0em 0;
}

.more-help-link {
  text-align: right;
  color:#0645ad;
}

.more-help-link a {
  padding:2px;
  color:#0645ad;
}

tr.menu-disabled {
  opacity: 0.5;
}

tr.odd td.menu-disabled {
  background-color: #edf5fa;
}

tr.even td.menu-disabled {
  background-color: #fff;
}

#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

.pager {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a, .pager strong.pager-current{
  padding: 0.5em;
}

.feed-icons {
  padding: 1.5em 0;
  margin: 1em 0;
}

.field-type-taxonomy-term-reference{
  margin-bottom:15px;
}

/*
 * Search form
 */ 

#block-search-form .content{
  padding:0;
  margin-bottom:15px;
  }

input[type=text],input[type=password]{
  width:300px;
  background:#fff;
  border: 1px solid #A3CBDC;
  padding: 5px;
  font: inherit;
  font-size: 13px;
  font-weight:normal;
  color: #444;
  outline:0;  
}

textarea{
  background:#fff;
  border: 1px solid #A3CBDC;
  padding: 5px;
  font: inherit;
  font-size: 13px;
  font-weight:normal;
  color: #444;
  outline:0;
}

input[type=submit]{
  height:28px;
  background: #336192;
  border: 1px solid #336192;  
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  margin-bottom:15px;
  margin-right:7px;
  padding: 0px 10px;
  outline:0;  
}
 
input[type=submit]:hover{
  background: #fff;
  border: 1px solid #A3CBDC;
  color: #0645ad;
}

.sidebar  input[type=text]{
  width:200px;
}

.sidebar  input[type=submit]{
  margin:0 5px;
}
 
.region-search  input[type=text]{
  width:200px;
  background:#fff;
  border:none;
  padding: 5px;
  margin:0;
  font: inherit;
  font-size: 13px;
  font-weight:normal;
  color: #333;
  outline:0;  
}  

.region-search input[type=submit]{
  height:26px;
  border:none;
  cursor:pointer;
  text-align:center;
  line-height:1;
  color:#1096d5;
  background-color:#fff;
  padding:0 10px;
  margin:0;
  margin-left: 5px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  vertical-align: bottom;
  outline:0;  
}

/*
 * Search results
 */

.search-results p {
  margin-top: 0;
  font-size: 1em;
}

.search-results dt {
  margin-top: 1em;
  font-size: 1.2em;
}

.search-results dd {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.search-results .search-info {
  font-size: 0.95em;
}

.search-advanced .criterion {
  float: left; 
  margin-right: 2em; 
}

.search-advanced .action {
  float: left; 
  clear: left; 
}

.node-teaser {
  border-bottom: 1px dashed #A3CBDC;
  padding-bottom: 25px;
  margin-bottom:15px;  
}

.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

.node-unpublished {
  background-color: #fff4f4;
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished{
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
 }
 
 .node h2.title {
  font-size: 160%;
  padding: 10px 0 5px 0;
  font-weight: normal;
  color:#333;
  }

.marker {
  color: #c00;
  }

.node.node-unpublished .picture,
.comment.comment-unpublished .picture
  {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }
 
/* Comment form */
.comment-form .form-item {
  overflow: hidden;
  margin-bottom: 0.8em;
}

.comment-form .form-type-textfield input,
.comment-form .form-item .username {
  width: 60%;
}
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1;
}

.comment-form .form-textarea {
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}
 
#comments h2.title {
  font-size:20px;
  color:#333;
  text-shadow: 0 1px 2px rgba(0,0,0,.25);  
  border-bottom:1px solid #ccc;
  padding:5px 0;
  margin-bottom:15px;
 }

#comments h2.comment-form {
  font-size:20px;
  color:#333;
  text-shadow: 0 1px 2px rgba(0,0,0,.25);  
  border-bottom:0px solid #e09010;
  padding:5px 0;
 }
  
#comments {
  background:#fff;
  padding:0;  
  margin: 1em 0;
}

#comments-title {
  color:#0645ad;
  padding:10px 0; 
}

/* ----------------- Comments ----------------- */

.comment h2.title {
  margin-bottom: 1em;
}

.comment div.user-picture img {
  margin-left: 0;
}

.comment {
  margin-bottom: 15px;
  display: table;
  vertical-align: top;
}

.comment .author-info {
  display: table;
  width:120px;
  padding: 0 30px 0 0;
  vertical-align: top;
  overflow: hidden;
}

.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}

.comment .comment-time {
  font-size: 11px;
  margin: 4px 0;
  color: #68696b;
  line-height: 1.2;  
}

.comment .content {
  font-size: 0.929em;
  line-height: 1.6em;
}

.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 40px;
  margin-left: -37px;
  margin-top: 10px;
  position: absolute;
  width: 20px;
}

.comment .comment-text {
  padding: 5px 15px 18px 15px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
}

.comment .indented {
  margin-left: 140px;
}

.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding:0.5em;
}

.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}

.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

ul.links{margin:0;padding:0;}
ul.links.inline{display:inline;}
ul.links li{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
  border: 1px solid #A3CBDC;
  color: #333;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  padding: 6px 10px;
  outline:0;
  display:inline;
  list-style-type:none;
  margin-right:10px;
}

/* Node meta information */
 
.meta{
  margin:5px 0 5px 0;
  padding:8px 0;
  height: 30px;
  text-transform:uppercase;  
  font-size: 11px;
  color:#000;
  font-weight:normal;  
  line-height:1.4em;  
  }

.submitted .user-picture img {
  float: left;
  height: 30px;
  margin: 1px 10px 0 0;
}

.indented {
  margin-left: 20px;
  }

.preview .comment {
  background-color: #fff;
  }

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

/** maintenance-page **/

body.maintenance-page {
  background-color: #f3f3f3;
  color: #444;
}

.maintenance-page  #page-wrapper{
  margin: 15px auto;
  padding:15px;
  width: 980px;
  }

.maintenance-page  h1#page-title {
  color: #0645ad;
  font-size:30px;
  line-height:1em;
  font-weight:bold;
  text-shadow:rgba(0,0,0,.5) 0 1px 3px;
  margin-bottom:10px
}  
  
.maintenance-page #page-content{
  margin: 150px auto;
  padding:25px;
  width: 350px;
  background:#fff;  
  border:1px solid #e0ecff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;  
  font-size: 14px;
  text-align:center;
  line-height:1.6em;
  color:#333;
  }

/** user profile **/
.profile {
  clear: both;
  margin: 1em 0;
}

.profile .user-picture {
  background:#f3f3f3;
  width:165px;
  float: left;
  margin: 0 1em 1em 0;
  padding:10px;
}

.profile .user-picture img{
  border:3px solid #fff;
  display:block;
}

.profile .user-details{
  float:left;
  width:290px;
}

.profile h3 {
  border-bottom: 1px solid #ccc;
}

.profile dl {
  margin: 0 0 1.5em 0;
}

.profile dt {
  margin: 0 0 0.2em 0;
  font-weight: bold;
}

.profile dd {
  margin: 0 0 1em 0;
}

#footer{
  color:#333;
}

#footer .block h2{
  border-left:8px solid #9DC5D8;
  border-bottom:1px solid #9DC5D8;  
  color: #fff;
  padding: 0 0 4px 8px;
  margin:0;
  font-size: 13px;
  font-weight:normal;  
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 1%;
} 

#footer .block{
  clear:both;
  margin-bottom:25px;
}

#footer .block ul{
  margin:0;
  padding:0;
}

#footer .block li{
  margin-left:0;
  list-style:none;
  font-size:13px;
  padding:8px 5px 8px 0;
  border-bottom:1px dashed #ccc;
}

#footer .block li.last{
  border-bottom:none;
}

#footer .block li a:link, #footer .block li a:visited{color:#fff;}
#footer .block li a:hover {color:#fff; text-decoration:underline;}

.site-credits{
  margin:0 auto 20px auto;
  padding:10px 0;
  font-size:12px;
  color:#fff;
}

.site-credits p{
  margin:5px 0;
}

#footer tr.even, #footer tr.odd, #footer tbody th {
  border: none;
}

#footer tr.odd, tr.info {
  background-color: #333;
}

#footer tr.even {
  background-color: #111;
}
  
#footer a:link,#footer a:visited{
  color:#fff;
  text-decoration: none;
}

#footer a:hover{
  text-decoration: underline;
}